.testimonial-container {
    margin: 4rem 5rem auto 5rem;
    background-color: var(--sectionBg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 50px;
}
.testimonial-container h1 {
    text-align: center;
    font-size: 2.188rem;
    font-weight: 300;
}

@media only screen and (max-width: 768px) {
    .testimonial-container {
        margin: 2rem 2.5rem auto 2.5rem;
    }
}